<!DOCTYPE html>

<html>

<head>

<title>Dog Breed Classifier</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="./dropzone.js"></script>
<script>
var loadFile = function(event) {
    var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
};
</script>

</head>

<body onload="changeImage({{displayed_image | safe}})">

<!--navbar links-->     
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
   <a class="navbar-brand" href="#">Start</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarTogglerDemo02" 
  aria-controls="navbarTogglerDemo02" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/christian-richter-ba811118a/">
                <img src="/static/img/linkedinlogo.png" alt="linkedin" height="25">
            </a>
          </li>
        <li class="nav-item">
          <a href="https://github.com/skalizzo">
                <img src="/static/img/githublogo.png" alt="github" height="25">
            </a>
        </li>
    </ul>
  </div>
        </div>
</nav>


<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Dog Breed Classifier</h1>
      <p class="lead">Please choose a file from your computer and press "predict" to start the prediction</p>
      <hr class="my-4">
      <p><form action="{{ url_for('predict') }}" method="POST"
                                                    enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileupload">Select Files:</label>
                <input type="file" accept="image/*" name="file[]" multiple="" id='fileupload' onchange="loadFile(event)">
                <p class="help-block">The prediction will take a couple of seconds. Think of something nice while you wait.
                </p>
                <label class="btn btn-primary btn-lg">
                    Predict <input type="submit" value="Predict" style="display:
                    none;">
                </label>
            </div>
        </form>
      </p>
    <!--uploaded image will be displayed here-->
    <p><img id="output" width="200" /></p>
    <p><img id="displayed_imaged" width="200" /></p>
    <p>{{ preds }}</p>
    </div>
</div>


<!--footer section-->

<div id="footer" class="container"></div>
 </body>
<footer>
    <script type="text/javascript">
        var preds = {{preds | safe}};
        var displayed_image = {{displayed_image | safe}};
        var img_dsp = document.getElementById('display');
        img_dsp.src = URL.createObjectURL(displayed_image);
    </script>

    <script type="text/javascript">
    function changeImage(a) {
        document.getElementById("displayed_image").src=a;
    }
</script>
    
</footer>


</html>